@charset "UTF-8";

table {
	margin-bottom: 0px !important;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: oblique;	
}

.alignRight {
	text-align: right;
}

.nowrap {
	white-space: nowrap;
}

.dialog {
	display: none;
}